- var url          = '';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = '';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = '';
- var description  = '';
- var og_img       = 'img/ogp.png';
- var favicon      = 'favicon.ico';
- var path         = '.'

doctype html
html(lang="ja")
  head
    include ./include/_head
    meta(http-equiv="refresh" content="0;https://liff.line.me/2000447309-jgk2vKnZ/landing?follow=%40242mridi&lp=ldSObp&liff_id=2000447309-jgk2vKnZ")
    meta(name="robots" content="noindex,nofollow")
    
  body
    //- Google Tag Manager (noscript)
    noscript 
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-P5TTH7XG", height="0" width="0" style="display:none;visibility:hidden") 
    include ./include/_script