.header {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	margin: auto;
	right: 0;
	left: 0;
	justify-content: space-between;
		background-color: #{$white};
		z-index: 1000;
	@include pc {
		z-index: 1000;
		height: 70px;
	}
	@include sp {
		top: 0;
		margin: auto;
		height: 60px;
		z-index: 1000;
	}

	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
	}

	&__img {

		&-left {
			width: 15%;
			margin-right: auto;

			@include sp {
				width: 30%;
			}
		}
		&-line {
			width: 10%;
			position: relative;
			margin-left: auto;
			background: #08fb00;

			& img {
				position: absolute;
				top: 35%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				width: 40px;
			}

			&__txt {
				position: absolute;
				color: #{$white};
				text-align: center;
				font-size: .8rem;
				font-weight: bold;
				width: 100%;
				top: 80%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
			}
		}
	}

	&__list {
		@include pc {
		display: flex;
		align-items: center;
		justify-content: space-between;
		}
		@include sp {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 998;
			background-color: #{$white};
			width: 100%;
			height: 100vh;
			display: none;
			padding: 60px 30px 0 30px;
		}
		&.active {
			display: block;
		}
			&__item {
				@include pc {
					padding: 0 15px;
				}
				@include sp {
				align-items: center;
				display: block;
				margin: 0 auto 30px;
				width: fit-content;
			}
		}
	}

	&__toggler {
		z-index: 9999;
		width: 28px;
		outline: none;
		cursor: pointer;
		margin-right: 30px;
		@include pc {
			display: none;
		}
		

		span,
		span::before,
		span::after {
			position: absolute;
			content: "";
			width: 28px;
			height: 2.5px;
			background: #{$black};
			border-radius: 20px;
			transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
		}

		span::before {
			top: -8px;
		}

		span::after {
			top: 8px;
		}

		&.active > span {
			background: transparent;
		}

		&.active > span::before,
		&.active > span::after {
			background: #{$black};
			top: 0px;
		}

		&.active > span::before {
			transform: rotate(-225deg);
		}

		&.active > span::after {
			transform: rotate(225deg);
		}
	}
}
