footer.footer
  .footer__content
    .footer__content__list
      .footer__content__list__item
        a(href="https://it-dojo.net/about#company").text-normal 運営会社
      .footer__content__list__item
        a(href="https://it-dojo.net/terms").text-normal 利用規約
      .footer__content__list__item
        a(href="https://www.sysystem.co.jp/jp/privacy.html").text-normal プライバシーポリシー
      .footer__content__list__item
        a(href="https://it-dojo.net/law").text-normal 特定商取引法に基づく表記